name: CI

on:
  push:
    paths:
      - 'gradle/**/*'
      - 'gradle*'
      - 'src/**/*'
      - '*.gradle.kts'
      - 'gradle.properties'
      - '.github/workflows/*.yml'
    branches:
      - '**'
    tags:
      - '*.*.*'
  workflow_dispatch:

env:
  ARTIFACT_NAME: events

jobs:
  build-publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Build project
        uses: gradle/gradle-build-action@v3
        env:
          GHPKG_USER: ${{ github.repository_owner }}
          GHPKG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          arguments: build
          cache-disabled: true

      #- name: Test project
      #  uses: gradle/gradle-build-action@v3
      #  with:
      #    arguments: clean test --info
      #    cache-disabled: true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: build/libs/*.jar

      #- name: Upload test results
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: test-results
      #    path: |
      #      ./build/test-results/
      #      ./build/reports/tests/

      - name: Test publish
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: gradle/gradle-build-action@v3
        env:
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_SECRET_KEY: ${{ secrets.SIGNING_SECRET_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        with:
          arguments: publishToMavenLocal
          cache-disabled: false

      - name: Publish
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
        uses: gradle/gradle-build-action@v3
        env:
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_SECRET_KEY: ${{ secrets.SIGNING_SECRET_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          GHPKG_USER: ${{ github.repository_owner }}
          GHPKG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OSSRH_USER: ${{ secrets.OSSRH_USER }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
        with:
          arguments: publish
          cache-disabled: false

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build-publish
    if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
    permissions:
      contents: write
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: artifact

      - name: Create draft release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          tag_name: ${{ github.ref_name }}
          files: artifact/*.jar
          token: ${{ secrets.GITHUB_TOKEN }}
